body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

h1, h2 {
    margin-top: 0;
}

textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 12px;
}

#prompt {
    height: 20px;
}

button {
    cursor: pointer;
}


.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    line-height: 1.5;
    line-height: 2;
}

.diff-part {
    position: relative;
    display: inline;
    padding: 0; /* Remove padding */
    transition: opacity 0.5s, color 0.5s;
    margin: 0;
}
  


.diff-part del,
.diff-part ins {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.diff-part button {
    padding: 5px;
    border-radius: 5px;
}

.accept-btn {
    background-color: green;
    color: white;
}

.reject-btn {
    background-color: red;
    color: white;
}

#loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* grayed out background */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
  }

del {
    color: #f69a9a; /* Light red font color */
    text-decoration: none; /* Remove strikethrough */
}

ins {
    color: #49c549; /* Light green font color */
    text-decoration: none;
}

.fade-out {
    opacity: 0;
}

.black-font {
    color: black;
}


.hover-container {
    position: relative;
}

.hover-container .hover-buttons {
    position: absolute;
    bottom: 100%;
    left: 50%;
    font-size: 5px;
    transform: translateX(-50%);
    /* background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px; */
    background-color: rgba(255, 255, 255, 0.); /* Set background color to white with 50% opacity for translucency */
    display: flex; /* Set display to flex to enable flexbox layout */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center the items horizontally */
    opacity: 0.2; /* Set initial opacity to make buttons translucent */
    transition: opacity 0.3s; /* Smooth transition for opacity changes */
    box-shadow: none;
}

.hover-buttons .diff-button {
    background-color: transparent;
    font-size: 10px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.hover-container:hover .hover-buttons {
    opacity: 1; /* Full opacity when hover-container is hovered */
}

